*{
	font-family: 'Inter', sans-serif;
}
body{
	background-color: rgb(255,255,255);
	margin: 0;
	padding: 0;
	font-size: 15px;
	height: 100%;
	overflow-x: hidden;
}

/* Top Layer */
.cont1{
	display: flex;
	justify-content: space-between;
	padding: 5px 0px;
}
ul{
	display: flex;
	text-decoration: none;
	font-weight: 700;
	list-style: none;
	padding-right: 8px;
}
a{
	padding: 10px;
	text-decoration: none;
	color: black;
	
}
.cont1 li a:hover{
	color: blue;
}
.cont1 img{
	padding-top: 12%;
	padding-left: 12%;
	box-sizing: border-box;
	width: 130px;
}
#signup{
	background-color: rgb(0,102,255);
	font-size: 14px;
	color: white;
	border-radius: 6px;
	padding: 10px 16px;
}
#special{
	padding-right: 15px;
	color: rgb(124, 35, 140);
	margin-right: 10px;
	border-right: 1px solid rgb(236,236,236);
	animation-name: colorcolor;
	animation-duration: 4s;
	animation-iteration-count: 5;
}
@keyframes colorcolor{
	0%{color: rgb(0,102,255);}
	25%{color: rgb(255,0,0);}
	50%{color: rgb(255,255,0);}
	75%{color: rgb(0,255,0);}
	100%{color: rgb(0,102,255);}
}

/* Dropdown Menu */
.dropdown{
	position: relative;
	display: inline-block;
}
.tool-dropdown{
	display: none;
	position: absolute;
	left: -600px;
	z-index: 1;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgb(197, 194, 194);
}
.dropdown:hover .tool-dropdown{
	display: flex;
}
.dddd{
	position: relative;
	display: inline-block;
}
.xxxx{
	display: none;
	flex-direction: column;
	position: absolute;
	left: -280px;
	bottom: -180px;
	z-index: 1;
	background-color: #fff;
	border-radius: 10px;
	width: 300px;
	font-size: 18px;
	padding: 20px;
	box-shadow: 0px 0px 2px rgb(197, 194, 194);
}
.xxxx span{
	font-size: 13px;
	font-weight: 100
}
.dddd:hover .xxxx{
	display: flex;
}
.big{
	display: flex;
	flex-direction: column;
	width: 350px;
	font-size: 22px;
	margin-right: 15px;
	margin-left: 10px;
	border-radius: 10px;
	justify-content: space-between;
	padding: 15px;
}
.big a{
	padding: 20px;
	text-decoration: none;
	color: black;
	border-radius: 10px;
	
}
#pg:hover{
	background-color: rgba(81, 158, 138, 0.1);
	color: rgb(81, 158, 138);
}
#ep:hover{
	background-color: rgb(255, 70, 179, 0.1);
	color: rgb(255,70,179);
}
#ip:hover{
	background-color: rgb(0, 102, 255, 0.1);
	color: rgb(0, 102, 255);
}
#cc:hover{
	background-color: rgb(230, 194, 41, 0.1);
	color: rgb(230, 194, 41);
}
#ar:hover{
	background-color: rgb(124, 35, 140, 0.1);
	color: rgb(124, 35, 140); 
}
.big span{
	font-size: 13px;

}
.small{
	display: flex;
	flex-direction: column;
	width: 200px;
	font-size: 13px;
	text-align: left;
	padding: 10px;
	background-color: rgb(245, 233, 233);
	border-radius: 10px;
	padding-left: 20px;
}
.small a:hover{
	color: rgb(0, 102, 255);
}
/* Second Layer */
.scnd{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid rgb(236,236,236);
}
.icons{
	display: flex;
	align-items: center;
}
.icons a{
	padding: 5px 8px;
	font-size: 1vw;
	text-align: center;
	height: 100%;
}
.icons a:hover{
	background-color: rgb(236,236,236);
	z-index: 0;
	border-radius: 8px;
}
.line{
	width: 1px;
	height: 30px;
	padding: 0 px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(236,236,236);
}
#view{
	display: flex;
	font-size: 15px;
	font-weight: 800;
	align-items: center;
	justify-content: space-between;
	width: 70px;
}
#export{
	display: flex;
	font-size: 15px;
	font-weight: 800;
	align-items: center;
	justify-content: space-between;
	width: 70px;
}
#save{
	display: flex;
	font-size: 15px;
	font-weight: 800;
	align-items: center;
	justify-content: space-between;
	width: 70px;
}
/* TOOL TIPS */
#ellipsis{
	position: relative;
	display: inline-block;
	
}
.ellipsis{
	visibility: hidden;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -30px;
	left: -2px;
	z-index: 1;
}
.ellipsis::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#ellipsis:hover .ellipsis{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes ellipsis{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
#camera{
	position: relative;
	display: inline-block;
	
}
.camera{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -30px;
	left: -65px;
	z-index: 1;
}
.camera::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#camera:hover .camera{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes camera{
	0%{visibility: hidden;}
	100%{visibility: visible;}
	100%{opacity: 1.0%;}
}
#collage{
	position: relative;
	display: inline-block;
	
}
.collage{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -30px;
	left: -34px;
	z-index: 1;
}
.collage::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#collage:hover .collage{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes collage{
	0%{visibility: hidden;}
	100%{visibility: visible;}
	100%{opacity: 1.0%;}
}
#undo{
	position: relative;
	display: inline-block;
	
}
.undo{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -48px;
	left: -15px;
	z-index: 1;
}
.undo::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#undo:hover .undo{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes undo{
	0%{visibility: hidden;}
	100%{visibility: visible;}
	100%{opacity: 1.0%;}
}
#redo{
	position: relative;
	display: inline-block;
	
}
.redo{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -48px;
	left: -33px;
	z-index: 1;
}
.redo::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#redo:hover .redo{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes redo{
	0%{visibility: hidden;}
	100%{visibility: visible;}
	100%{opacity: 1.0%;}	
}
#contrast{
	position: relative;
	display: inline-block;
	
}
.contrast{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -33px;
	left: -54px;
	z-index: 1;
}
.contrast::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#contrast:hover .contrast{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes contrast{
	0%{visibility: hidden;}
	100%{visibility: visible;}
	100%{opacity: 1.0%;}
}
#blind{
	position: relative;
	display: inline-block;
	
}
.blind{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -33px;
	left: -34px;
	z-index: 1;
}
.blind::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#blind:hover .blind{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes blind{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
#adjust{
	position: relative;
	display: inline-block;
	
}
.adjust{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	
	/* POSITION */
	position: absolute;
	top: -33px;
	left: -29px;
	z-index: 1;
}
.adjust::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#adjust:hover .adjust{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes adjust{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
#view{
	position: relative;
	display: flex;
	
}
.view{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	font-weight: 100;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 8px;
	
	/* POSITION */
	position: absolute;
	top: -50px;
	left: -22px;
	z-index: 1;
}
.view::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#view:hover .view{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes view{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
#export{
	position: relative;
	display: flex;
	
}
.export{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	font-weight: 100;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 8px;
	
	/* POSITION */
	position: absolute;
	top: -50px;
	left: -10px;
	z-index: 1;
}
.export::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#export:hover .export{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes export{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
#save{
	position: relative;
	display: flex;
	
}
.save{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	font-weight: 100;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 8px;
	
	/* POSITION */
	position: absolute;
	top: -50px;
	left: -10px;
	z-index: 1;
}
.save::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#save:hover .save{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes save{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
#saved{
	position: relative;
	display: flex;
	
}
.saved{
	visibility: hidden;
	width: max-content;
	font-size: 13px;
	font-weight: 100;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 8px;
	
	/* POSITION */
	position: absolute;
	top: -50px;
	left: -50px;
	z-index: 1;
}
.saved::after{
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
	animation-delay: 0.5s;
}
#saved:hover .saved{
	visibility: hidden;
	animation-name: ellipsis;
	animation-duration: 8s;
	animation-delay: 0.6s;
	animation-timing-function: linear;
}
@keyframes saved{
	0%{visibility: hidden;}
	100%{visibility: visible;}
}
/* Color Palettes*/
main{
	display: flex;
	position: absolute;
	top: 100px;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	
}
.small-icons {
	visibility: hidden;
}
main div{
	width: 20%;
	text-align: center;
	overflow: hidden;
}
main div h2, main div p{
	position: relative;
	top: 713px;
	text-shadow: 0px 0px 1px black;
}
main div p{
	font-size: 12px;
	font-weight: 50;
}
#first{
	background-color: rgb(71, 106, 111);
}
#second{
	background-color: rgb(81, 158, 138);
}
#rd{
	background-color: rgb(126, 176, 155);
}
#th{
	background-color: rgb(197, 201, 164);
}
#tj{
	background-color: rgb(236, 190, 180);
}

/* Footer */
footer{
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #fff;
}
#www{
	display: none;
}
.bttmicons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	right: 0;
	width: 40%;
	
}
.footbutt {
	background-color: #fff;
	border: 1px solid lightgray;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	left: 15px;
	font-weight: 600;
	letter-spacing: 0.08em;
}
/* MEDIA QUERIES */
@media screen and (max-width: 1200px){
	.scnd{
		display: flex;
		justify-content: flex-end;
	}
	#ddd{
		display: none;
	}
}
@media screen and (max-width: 768px){
	body{
		overflow-y: hidden;
	}
	main{
		display: flex;
		flex-direction: column;
	}
	.scnd{
		display: none;
	}
	main{
		position: absolute;
		top: 60px;
	}
	main div{
		height: 20%;
		width: 100%;
	}

	nav{
		display: none;
	}
	.logoo{
		position: relative;
		left: 35vw;
	}
	main div h2{
		position: relative;
		top: 35%;
		left: 30px;
		display: flex;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 1px;
	}
	.small-icons {
		opacity: 0.3;
		width: 30%;
		position: absolute;
		right: 0;
		visibility: visible;
	}
	.small-icons{
		font-size: large;
	}
	.small-icons .fa-solid{
		position: relative;
		top: -8px;
	}
	main div:hover .small-icons{
		opacity: 1.0;
	}
	#www {
		display: flex;
	}

}